.submitButton {
  width: 25%;
  padding: 0.8rem;
  background-color: white;
  color: #6b4f9b;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitButton:hover {
  background-color: #e9ddf8;
  color: #6b154d;
}

.submitButton:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}
