
.tag{
    display: inline-block; /* Ensures the background adjusts only to the text */
    padding: 1px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px; 
    color: white; 
    transition: background-color 0.3s ease;
}

.active {
    background-color: #59bd79; 
}

.inactive {
  background-color: #dc3545; 
}
