.card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image img {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card .content {
  margin: 0;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  gap: 1rem;
}

.card .content h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.card .content p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

#date {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
@media (max-width: 480px) {
  .card {
    flex-direction: column;
    padding: 1rem;
    font-size: 14px;
  }

  .card .content {
    margin-top: 5px;
    padding: 0;
    display: inline;
    width: 100%;
  }

  .image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .card .content h1 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  
  .card .content p {
    font-size: 14px ;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .image {
    height: auto;
  }

}
